* {
  color: #fff;

  h1 {
    color: #FFF;
  }

  .carousel-caption {

      position: relative;
      left: auto;
      right: auto;
      text-align: center !important;
  }

  img {
    width: auto;
    height: 225px;
    max-height: 225px;
  }


  p {
    color: #FFF;
  }
}
