* {
    h2 {
        margin-top: 0px;
    }

    .entry_well {
        background: #fff;
        color: #000;
    }

    .entry_name {
        font-weight: bold;
    }

    .entry_timestamp {
        font-style: italic;
        float: right;
    }

    .entry_message {
        font-style: normal;
    }
}